# Python
*.pyc
__pycache__/
# Jupyter
.ipynb_checkpoints
# VS Code
.vscode/
# Data
*.csv
*.json
!platform/**/*.json
# Model files
*.onnx
# Diagrams
*.png
!platform/**/*.png
# misc
mynotes/
docs/
research/